* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #ff9419;
  }

  .topnav h1 {
    text-align: center;
  }
  
  /* Style the content */
  .content {
    background-color: #ffffff;
    padding: 10px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 512px;
  }

  button {
    background-color: #ff9419; /* Green */
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
  }

  .tocenter  {
    text-align: center;
    display: block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .tocolor {
    background-color: #ff9419;
    padding: 20px;
    border-radius: 12px;
  }

  input[type="file"] {
    background-color: #ff9419; /* Green */
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
  }

  select {
    background-color: #ff9419; /* Green */
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
  }

  .block {
    position:relative;
    background-color: #ff9419;
    padding: 20px;
    border-radius: 12px;
  }
  
  .block input:checked ~ i {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }